@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #DCE5F2;
    --foreground: #011340;
    --foreground-rgb: #011340;
    --background-start-rgb: #EBEBEB;
    --background-end-rgb: #DCE5F2;

    --card: #151924;
    --card-foreground: #89a7ff;

    --popover: #ffffff;
    --popover-foreground: #89a7ff;

    --primary: #082777;
    --primary-foreground: #032888;

    --secondary: #DDEAFB;
    --secondary-foreground: #EBEBEB;

    --accent: #aaaaaa86;
    --accent-foreground: #88858596;

    --destructive: transparent;
    --destructive-foreground: transparent;

    --border: #f7ae258d;
    --input: #032888;
    --ring: transparent;
    --bgColor: hsla(198, 79%, 79%, 34%);
    --bgColorF: hsla(198, 79%, 79%, 0.642);

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background: none;
    color: rgb(var(--foreground-rgb));
    background-color: var(--background-end-rgb);
    overflow: hidden;
    overflow-y: auto;
    min-height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
  }
  .bg-img{
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
    background-image: url('../public/Coverbg.svg');
    opacity: 0.2;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
  }
}